body {
    background-color:#F4CDA5;
    color:#3C989E;
    
}
input:focus::placeholder{
    color:#F57A82;
}
label{
	font-size:25px;
}
#mainDiv{
    height:300px;
    margin-top:50px;
}
#mainDiv input{
    border:none;
    background-color:#F57A82;
    width:270px;
    height:30px;
    display:block;
    margin:10px;
}
